<div class="container-fluid">
    <div class="row">
      <!-- Sidebar fijo -->
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <h4 class="text-white text-center mt-3">Reactivando Vidas</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a routerLink="/inicio" class="nav-link text-white">
                <i class="fas fa-home"></i> Inicio
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/pacientes" class="nav-link text-white">
                <i class="fas fa-user-injured"></i> Pacientes
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/productos" class="nav-link text-white">
                <i class="fas fa-box"></i> Productos
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/servicios" class="nav-link text-white">
                <i class="fas fa-users"></i> Servicios
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/citas" class="nav-link text-white">
                <i class="fas fa-calendar-alt"></i> Citas
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/login" class="nav-link text-white">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
  